ENV=dev
AUTHORIZATION_NEVER_EXPIRES=true
USERS_DATABASE_URL=postgresql+asyncpg://chemist:users_pass@localhost:5432/users_db

# База архива (Порт 5433)
ARCHIVE_DATABASE_URL=postgresql+asyncpg://chemist:archive_pass@localhost:5433/archive_db

# Секретный ключ для JWT
SECRET_KEY=secretKey

SEARCH_LIMIT=200
LOCAL_MODE=true
NO_PASSWORD_LOGIN=true

# Настройки почты (Mailtrap API/SMTP) при LOCAL_MODE=true никакие имейлы не отсылаются
MAIL_TOKEN=dummy
MAIL_FROM=dummy@dummy.com
MAIL_FROM_NAME=dummy
BACKEND_URL=http://localhost:8000
#Cloudflare token
TUNNEL_TOKEN=dummy

#
R2_ACCOUNT_ID=dummy
R2_ACCESS_KEY=dummy
R2_SECRET_KEY=dummy
R2_BUCKET_NAME=dummy
#buy me a coffe webhook secret
BMAC_SIGNING_SECRET=dummy