JOURNAL_BASE=true
BOOK_BASE=true
PUBLIC_JOURNAL=true
AUTHORIZATION_NEVER_EXPIRES=true
NO_PASSWORD_LOGIN=false
DATABASE_URL=postgresql+asyncpg://user:pass@localhost:5432/chemdb
SECRET_KEY=your-secret-key-here